$break-small: 460px;
$break-large: 1100px;
$break-medium: 600px;
$break-extralarge: 1300px;
@font-face {
  font-family:ALSFuchsia;
  src: url('/diplom/diploma/fonts/alsfuchsia.otf');
}
html{
  margin: 0;
  padding: 0;
}
body{
  overflow-x:hidden;
  box-sizing: border-box;
}
header{
  width: 100%;
  padding: 0 10px;
  text-align: center;
  @media screen and (min-width: $break-medium) {
    &::after {
      clear: both;
      content: "";
      display: block;
    }
  }
  .logo {
    background: url("/diplom/diploma/images/logo.png") no-repeat;
    margin: 40px 0 0 0;
    width: 300px;
    height: 36px;
    @media screen and (min-width: $break-medium) {
      width: 300px;
      height: 36px;
      float: left;
      display: block;
    }
    @media screen and (min-width: $break-large){
      margin: 60px 40px;
    }
  }
      .search {
        margin: 40px auto;
        display: inline-block;
        position: relative;
        @media screen and (max-width: $break-small){
          margin: 40px auto 40px -35px;
        }
        @media screen and (min-width: $break-medium) {
          float: right;
        }
        @media screen and (min-width: $break-large){
          margin: 60px auto;
        }
      }
      label {
        color: #7f7f7f;
        position: absolute;
        top: 8px;
        left: 30px;
      }
      .search_query {
        width: 264px;
        height: 30px;
        border: 1px solid lightgray;
        border-radius: 25px;
        padding: 0 0 0 30px;
        margin-right: 5px;
      }
      .search_button {
        width: 30px;
        height: 30px;
        background: url("/diplom/diploma/images/enter.png") no-repeat 5px 5px;
        border: none;
      }
    }
    footer {
      text-align: center;
      width: 100vw;
      .logo_bottom {
        background-image: url("/diplom/diploma/images/bottom.png");
        display: inline-block;
        width: 300px;
        height: 192px;
      }
    }
  .main {
    text-align: center;
    font: 19px "Arial", "sans-serif";
    h1 {
      font:bold 38px "Arial", "sans-serif";
      @media screen and (min-width: $break-medium) {
        font:bold 72px "Arial", "sans-serif";
      }
    }
  }
    .row {
      margin: 40px 10px;
      text-align: center;
      font-size: 0;
      .book_list {
        position: relative;
        width: 93%;
        display: inline-block;
        font: 19px "Arial", "sans-serif";
        @media screen and (min-width: $break-medium) {
          width: 48%;
        }
        @media screen and (min-width: $break-large) {
          width: 30%;
        }
       @media screen and (min-width: $break-extralarge) {
          width: 25%;
        }
        .book_cover {
          display: inline-block;
          box-shadow: 0.5em 0.5em 5px rgba(122, 122, 122, 0.5);
        }
        span {
          position: absolute;
          top: 300px;
          left: 70px;
          color: #ed18c9;
        }
        .description {
          margin-top: 30px;
          display: inline-block;
          height: 95px;
          width: 100%;
          text-align: center;
          u {
            color: #84abd1;
            &:hover{
              color: #ed3434;
            }
          }
        }
      }
      .more_books {
        input {
          font: 19px "Arial", "sans-serif";
          width: 280px;
          height: 45px;
          border: 1px solid #84abd1;
          border-radius: 5px;
          background: #fff;
          color: #84abd1;
          display: inline-block;
          margin: auto;
          &:hover{
            color: #e51907;
            border: 1px solid #e51907;
          }
          &:active{
            color: #e51907;
            border: 1px solid #e51907;
          }
        }
    }
}
  .preview {
    text-align: center;
    p{
      margin:25px auto 60px auto;
      display: block;
      width: 256px;
    }
    .cover_preview {
      background-size: cover;
      display: inline-block;
      box-shadow: 0.5em 0.5em 5px rgba(122, 122, 122, 0.5);
      position: relative;
      #eye-tracker{
        position: absolute;
        top: 380px;
        left: 200px;
      }
      #eye_border {
        position: absolute;
        top: 320px;
        left: 140px;
        width: 144px;
        height: 144px;
        background: url("/diplom/diploma/images/eye_border.png");
        animation: blink 5s linear infinite;
        @keyframes blink {
          20% {
            background: url("/diplom/diploma/images/veko1.png");
          }
          40% {
            background: url("/diplom/diploma/images/veko2.png");
          }
          60% {
            background: url("/diplom/diploma/images/veko3.png");
          }
          80% {
            background: url("/diplom/diploma/images/veko4.png");
          }
          100% {
            background: url("/diplom/diploma/images/veko5.png");
          }
        }
      }
      }
        img{
          @media screen and (max-width: $break-small){
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .price_text {
      width: 100%;
      margin: 30px auto 10px auto;
    }
  }
  .price_text{
    color: #dcdcdc;
    font-style: italic;
    font-size: 16px;
    font-family: "Arial";
    width: 100%;
  }
  .scruffy{
    margin:10px auto 80px auto;
    display: inline-block;
  }
    .buy_button{
        text-decoration: none;
        display: inline-block;
        text-align:center;
        padding:30px 20px;
        margin:60px auto 30px auto;
        border:none;
        border-radius: 10px;
        font:32px "Arial";
        color:#ffffff;
        background-color:#845986;
        background: linear-gradient(180deg, #845986 0% ,#613c63 100%);
        box-shadow:1px 10px 20px #5d4e5e;
        width: 100%;
      &:hover{
        text-decoration:none;
        display:inline-block;
        padding:30px 20px;
        border:none;
        border-radius: 10px;
        font:32px "Arial";
        color:#ffffff;
        background-color:#ba86bd;
        background: linear-gradient(180deg, #ba86bd 0% ,#502d52 100%);
        box-shadow:1px 10px 20px #5d4e5e;
        }
      &:active{
        background: #623c64;
        box-shadow: none;
        outline: none;
      }
      @media screen and (min-width: $break-small){
        width:450px;
      }
      }
    .preview {
      @media screen and (min-width: $break-large) {
        position: relative;
        margin-bottom: 1400px;
      }
      .advantages_left, .advantages_right, .cover, .buy, .about_price {
        @media screen and (min-width: $break-large) {
          width: 33%;
          position: absolute;
        }
      }
        @media screen and (min-width: $break-large) {
          .advantages_left {
            left: 0;
          }
          .advantages_right {
            right: 0;
          }
          .cover {
            left: 33%;
            right: 33%;
          }
          .about_price {
            top: 1200px;
            left: 34%;
          }
          .buy {
            top: 940px;
            left: 33%;
          }
        }
      }
    .about_fbb{
      margin: auto 10px;
      text-align: center;
      @media screen and (min-width: $break-medium){
      }
      .container{
        display: inline-block;
      }
      h1{
        font-size: 38px;
        text-align: center;
        line-height: 46px;
        @media screen and (min-width: $break-medium){
          font-size: 72px;
          line-height: 54px;
        }
        @media screen and (min-width: $break-extralarge) {
          width: 1200px;
        }
      }
      h2 {
        font-size: 32px;
        line-height: 54px;
        text-align: left;
        @media screen and (min-width: $break-medium) {
          font-size: 42px;
          line-height: 54px;
        }
      }
        h3 {
          font-size: 24px;
          line-height: 32px;
          text-align: left;
        }
      p{
        font-size: 19px 'Arial' ,regular;
        line-height: 32px;
        display: inline-block;
        text-align: left;
        @media screen and (min-width: 700px){
          width: 640px;
        }
      }
      .banner_team {
        font: 28px 'ALSFuchsia', regular;
        line-height: 42px;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        margin: 30px;
        @media screen and (min-width: $break-medium) {
          margin: 50px;
          font-size: 36px;
          line-height: 54px;
        }
        p{
          text-align: center;
        }
      }
        .special_text {
          text-align: center;
          font-size:24px;
          line-height: 46px;
          @media screen and (min-width: $break-medium){
            font-size: 32px;
            line-height: 46px;
          }
          @media screen and (min-width: $break-large) {
            width: 880px;
          }
        }
      .images{
        img{
          margin: 10px;
          @media screen and (min-width: $break-large){
            margin: 60px 30px;
          }
        }
      }
      }



    .order{
      text-align: center;
      margin: 50px auto;
      form{
        display: inline-block;
        margin-top: 50px;
        input{
          margin: 10px;
        }
      }
    }

    /*.advantages_right{
      @media screen and (min-width: $break-large) {
        width: 30%;
        float: right;
      }
    }
    .cover{
      @media screen and (min-width: $break-large) {
        width: 30%;
      }
    }*/


