@font-face {
  font-family: ALSFuchsia;
  src: url("/diplom/diploma/fonts/alsfuchsia.otf"); }
html {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  box-sizing: border-box; }

header {
  width: 100%;
  padding: 0 10px;
  text-align: center; }
  @media screen and (min-width: 600px) {
    header::after {
      clear: both;
      content: "";
      display: block; } }
  header .logo {
    background: url("/diplom/diploma/images/logo.png") no-repeat;
    margin: 40px 0 0 0;
    width: 300px;
    height: 36px; }
    @media screen and (min-width: 600px) {
      header .logo {
        width: 300px;
        height: 36px;
        float: left;
        display: block; } }
    @media screen and (min-width: 1100px) {
      header .logo {
        margin: 60px 40px; } }
  header .search {
    margin: 40px auto;
    display: inline-block;
    position: relative; }
    @media screen and (max-width: 460px) {
      header .search {
        margin: 40px auto 40px -35px; } }
    @media screen and (min-width: 600px) {
      header .search {
        float: right; } }
    @media screen and (min-width: 1100px) {
      header .search {
        margin: 60px auto; } }
  header label {
    color: #7f7f7f;
    position: absolute;
    top: 8px;
    left: 30px; }
  header .search_query {
    width: 264px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 0 0 0 30px;
    margin-right: 5px; }
  header .search_button {
    width: 30px;
    height: 30px;
    background: url("/diplom/diploma/images/enter.png") no-repeat 5px 5px;
    border: none; }

footer {
  text-align: center;
  width: 100vw; }
  footer .logo_bottom {
    background-image: url("/diplom/diploma/images/bottom.png");
    display: inline-block;
    width: 300px;
    height: 192px; }

.main {
  text-align: center;
  font: 19px "Arial", "sans-serif"; }
  .main h1 {
    font: bold 38px "Arial", "sans-serif"; }
    @media screen and (min-width: 600px) {
      .main h1 {
        font: bold 72px "Arial", "sans-serif"; } }

.row {
  margin: 40px 10px;
  text-align: center;
  font-size: 0; }
  .row .book_list {
    position: relative;
    width: 93%;
    display: inline-block;
    font: 19px "Arial", "sans-serif"; }
    @media screen and (min-width: 600px) {
      .row .book_list {
        width: 48%; } }
    @media screen and (min-width: 1100px) {
      .row .book_list {
        width: 30%; } }
    @media screen and (min-width: 1300px) {
      .row .book_list {
        width: 25%; } }
    .row .book_list .book_cover {
      display: inline-block;
      box-shadow: 0.5em 0.5em 5px rgba(122, 122, 122, 0.5); }
    .row .book_list span {
      position: absolute;
      top: 300px;
      left: 70px;
      color: #ed18c9; }
    .row .book_list .description {
      margin-top: 30px;
      display: inline-block;
      height: 95px;
      width: 100%;
      text-align: center; }
      .row .book_list .description u {
        color: #84abd1; }
        .row .book_list .description u:hover {
          color: #ed3434; }
  .row .more_books input {
    font: 19px "Arial", "sans-serif";
    width: 280px;
    height: 45px;
    border: 1px solid #84abd1;
    border-radius: 5px;
    background: #fff;
    color: #84abd1;
    display: inline-block;
    margin: auto; }
    .row .more_books input:hover {
      color: #e51907;
      border: 1px solid #e51907; }
    .row .more_books input:active {
      color: #e51907;
      border: 1px solid #e51907; }

.preview {
  text-align: center; }
  .preview p {
    margin: 25px auto 60px auto;
    display: block;
    width: 256px; }
  .preview .cover_preview {
    background-size: cover;
    display: inline-block;
    box-shadow: 0.5em 0.5em 5px rgba(122, 122, 122, 0.5);
    position: relative; }
    .preview .cover_preview #eye-tracker {
      position: absolute;
      top: 380px;
      left: 200px;
      width: 25px;
      height: 25px;
      border: 1px solid black;
      border-radius: 50%;
      background: black;
      z-index: 5; }
      @media screen and (max-width: 460px) {
        .preview .cover_preview #eye-tracker {
          display: none; } }
    .preview .cover_preview #eye_border {
      position: absolute;
      top: 320px;
      left: 140px;
      width: 144px;
      height: 144px;
      background: url("/diplom/diploma/images/eye_border.png");
      animation: blink 5s linear infinite;
      animation-delay: 6s; }
      @media screen and (max-width: 460px) {
        .preview .cover_preview #eye_border {
          display: none; } }
@keyframes blink {
  0% {
    background: url("/diplom/diploma/images/veko1.png"); }
  2% {
    background: url("/diplom/diploma/images/veko2.png"); }
  4% {
    background: url("/diplom/diploma/images/veko3.png"); }
  6% {
    background: url("/diplom/diploma/images/veko4.png"); }
  8% {
    background: url("/diplom/diploma/images/veko5.png"); }
  10% {
    background: url("/diplom/diploma/images/veko4.png"); }
  12% {
    background: url("/diplom/diploma/images/veko3.png"); }
  14% {
    background: url("/diplom/diploma/images/veko2.png"); }
  18% {
    background: url("/diplom/diploma/images/veko1.png"); }
  20% {
    background: url("/diplom/diploma/images/eye_border.png"); }
  100% {
    background: url("/diplom/diploma/images/eye_border.png"); } }
@media screen and (max-width: 460px) {
  img {
    display: block;
    width: 100%;
    height: 100%; } }

.price_text {
  width: 100%;
  margin: 30px auto 10px auto; }

.price_text {
  color: #dcdcdc;
  font-style: italic;
  font-size: 16px;
  font-family: "Arial";
  width: 100%; }

.scruffy {
  margin: 10px auto 80px auto;
  display: inline-block; }

.buy_button {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 30px 20px;
  margin: 60px auto 30px auto;
  border: none;
  border-radius: 10px;
  font: 32px "Arial";
  color: #ffffff;
  background-color: #845986;
  background: linear-gradient(180deg, #845986 0%, #613c63 100%);
  box-shadow: 1px 10px 20px #5d4e5e;
  width: 100%; }
  .buy_button:hover {
    text-decoration: none;
    display: inline-block;
    padding: 30px 20px;
    border: none;
    border-radius: 10px;
    font: 32px "Arial";
    color: #ffffff;
    background-color: #ba86bd;
    background: linear-gradient(180deg, #ba86bd 0%, #502d52 100%);
    box-shadow: 1px 10px 20px #5d4e5e; }
  .buy_button:active {
    background: #623c64;
    box-shadow: none;
    outline: none; }
  @media screen and (min-width: 460px) {
    .buy_button {
      width: 450px; } }

@media screen and (min-width: 1100px) {
  .preview {
    position: relative;
    margin-bottom: 1500px; } }
@media screen and (min-width: 1100px) {
  .preview .advantages_left, .preview .advantages_right, .preview .cover, .preview .buy, .preview .about_price {
    width: 33%;
    position: absolute; } }
@media screen and (min-width: 1100px) {
  .preview .advantages_left {
    left: 0; }
  .preview .advantages_right {
    right: 0; }
  .preview .cover {
    left: 33%;
    right: 33%; }
  .preview .about_price {
    top: 1200px;
    left: 34%; }
  .preview .buy {
    top: 940px;
    left: 33%; } }

.about_fbb {
  margin: auto 10px;
  text-align: center; }
  .about_fbb .container {
    display: inline-block; }
  .about_fbb h1 {
    font-size: 38px;
    text-align: center;
    line-height: 46px; }
    @media screen and (min-width: 600px) {
      .about_fbb h1 {
        font-size: 72px;
        line-height: 54px; } }
    @media screen and (min-width: 1300px) {
      .about_fbb h1 {
        width: 1200px; } }
  .about_fbb h2 {
    font-size: 32px;
    line-height: 54px;
    text-align: left; }
    @media screen and (min-width: 600px) {
      .about_fbb h2 {
        font-size: 42px;
        line-height: 54px; } }
  .about_fbb h3 {
    font-size: 24px;
    line-height: 32px;
    text-align: left; }
  .about_fbb p {
    font-size: 19px 'Arial';
    line-height: 32px;
    display: inline-block;
    text-align: left; }
    @media screen and (min-width: 700px) {
      .about_fbb p {
        width: 640px; } }
  .about_fbb .banner_team {
    font: 28px 'ALSFuchsia', regular;
    line-height: 42px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin: 30px; }
    @media screen and (min-width: 600px) {
      .about_fbb .banner_team {
        margin: 50px;
        font-size: 36px;
        line-height: 54px; } }
    .about_fbb .banner_team p {
      text-align: center; }
  .about_fbb .special_text {
    text-align: center;
    font-size: 24px;
    line-height: 46px; }
    @media screen and (min-width: 600px) {
      .about_fbb .special_text {
        font-size: 32px;
        line-height: 46px; } }
    @media screen and (min-width: 1100px) {
      .about_fbb .special_text {
        width: 880px; } }
  .about_fbb .images img {
    margin: 10px; }
    @media screen and (min-width: 1100px) {
      .about_fbb .images img {
        margin: 60px 30px; } }

.order {
  text-align: center;
  margin: 50px auto; }
  .order form {
    display: inline-block;
    margin-top: 50px; }
    .order form input {
      margin: 10px; }

/*.advantages_right{
  @media screen and (min-width: $break-large) {
    width: 30%;
    float: right;
  }
}
.cover{
  @media screen and (min-width: $break-large) {
    width: 30%;
  }
}*/

/*# sourceMappingURL=style.css.map */
